.project_section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 3%;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/public/assets/newspaper-aesthetic.jpg");
  background-repeat: no-repeat;
}

.project {
  padding: 2%;
  border: 3px solid gray;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 10px 5px black;
}
.p-title {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/public/assets/newspaper-aesthetic.jpg");
  background-repeat: no-repeat;
  color: white;
  padding: 2%;
}
.p-filter {
  background-color: white;
}
.project_img {
  width: 50%;
}

h1 {
  text-align: center;
}

hr {
  border: 1px solid gray;
}

@media only screen and (max-width: 700px) {
  .project_section {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    padding: 2%;
    text-align: center;
  }
}
